pipeline/pipe_ingest_population_data.json
{
	"name": "pipe_ingest_population_data",
	"properties": {
		"activities": [
			{
				"name": "Check if file exists",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_delimited_generic",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "population",
							"fileName": "population_by_age.tsv",
							"separatorFile": "Tab (\\t)"
						}
					},
					"timeout": "1.00:00:00",
					"sleep": 10,
					"minimumSize": 1024
				}
			},
			{
				"name": "Get File Metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Check if file exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob_delimited_generic",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "population",
							"fileName": "population_by_age.tsv",
							"separatorFile": "Tab (\\t)"
						}
					},
					"fieldList": [
						"columnCount",
						"size",
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Column Count Matches",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get File Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get File Metadata').output.columnCount, 13)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy population data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_blob_delimited_generic",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "population",
										"fileName": "population_by_age.tsv",
										"separatorFile": "Tab (\\t)"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_delimited_generic",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "bronze",
										"fileName": "population_by_age.tsv",
										"separatorFile": ","
									}
								}
							]
						},
						{
							"name": "Delete",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy population data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_blob_delimited_generic",
									"type": "DatasetReference",
									"parameters": {
										"containerName": "population",
										"fileName": "population_by_age.tsv",
										"separatorFile": "Tab (\\t)"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2023-04-06T02:00:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}